# Fetching data from TMDB Api

In [1]:
import pandas as pd
import requests

### Making api key and url seperately

In [5]:
api_key='39dd886b11367bdadf92f0236b5d95ec'
url=f'https://api.themoviedb.org/3/movie/top_rated?api_key={api_key}&language=en-US&page=1'

### Getting data from url and storing it into response variable

In [17]:
response = requests.get(url)

In [18]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [19]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,117.912,8.7,17593
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,97.494,8.7,23432
2,772071,Cuando Sea Joven,70-year-old Malena gets a second chance at lif...,2022-09-14,50.035,8.7,211
3,995133,"The Boy, the Mole, the Fox and the Horse","The unlikely friendship of a boy, a mole, a fo...",2022-12-25,59.921,8.6,260
4,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,65.399,8.6,10654

### Iterating through all the pages

In [25]:
df = pd.DataFrame()

In [39]:
for i in range(1,429):
    url=f'https://api.themoviedb.org/3/movie/top_rated?api_key={api_key}&language=en-US&page={i}'
    response=requests.get(url)
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = pd.concat([df, temp_df],ignore_index=True)

In [40]:
df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,117.912,8.7,17593
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,97.494,8.7,23432
2,772071,Cuando Sea Joven,70-year-old Malena gets a second chance at lif...,2022-09-14,50.035,8.7,211
3,995133,"The Boy, the Mole, the Fox and the Horse","The unlikely friendship of a boy, a mole, a fo...",2022-12-25,59.921,8.6,260
4,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,65.399,8.6,10654

In [41]:
df.shape

(25680, 7)

In [42]:
df.to_csv('movies.csv')