## Importing library and data set for practice

In [2]:
import seaborn as sns
df= sns.load_dataset("penguins")

### Printing data

In [3]:
df.head(2)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female

### Printinf with tail method

In [4]:
df.tail(2)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

### Now we will check the shape of data

In [5]:
df.shape
# this gives us the number of rows and columns in the dataset

(344, 7)

### Here!
1. first values showing number of rows
2. second value is number of colimns

### Now We will check info of the data

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

### Describe function will give overall view of Data

In [9]:
df.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

### Now we wil access the columns in data set

In [7]:
df1=df['sex']
df1.head()

0      Male
1    Female
2    Female
3       NaN
4    Female
Name: sex, dtype: object

### Now we will access more than one columns

In [10]:

df.head(2)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female

In [13]:
df2=df[["sex", "island"]]
df2.head(2)

      sex     island
0    Male  Torgersen
1  Female  Torgersen

### We will see if the mass is greater than 3800.0

In [38]:
above_35 = df[df["body_mass_g"] > 3900]
above_35.head(6)

KeyError: 'body_mass_g'

### Selecting from rows