In [58]:
import pandas as pd
%matplotlib qt5
import matplotlib.pyplot as plt

In [40]:
df = pd.read_csv('tosha.csv')

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4214 entries, 0 to 4213
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Detail of Gifts    4208 non-null   object
 1   Item Category      2338 non-null   object
 2   Name of Recipient  4214 non-null   object
 3   Affiliation        3207 non-null   object
 4   Date               4211 non-null   object
 5   Assessed Value     4213 non-null   float64
 6   Retention Cost     4205 non-null   float64
 7   Retained           4203 non-null   object
 8   Remarks            4203 non-null   object
dtypes: float64(2), object(7)
memory usage: 296.4+ KB

In [44]:
df['Item Category'].fillna('Not Known',inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4214 entries, 0 to 4213
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Detail of Gifts    4208 non-null   object
 1   Item Category      4214 non-null   object
 2   Name of Recipient  4214 non-null   object
 3   Affiliation        3207 non-null   object
 4   Date               4211 non-null   object
 5   Assessed Value     4213 non-null   float64
 6   Retention Cost     4205 non-null   float64
 7   Retained           4203 non-null   object
 8   Remarks            4203 non-null   object
dtypes: float64(2), object(7)
memory usage: 296.4+ KB

In [45]:
df.head(2)

,Detail of Gifts,Item Category,Name of Recipient,Affiliation,Date,Assessed Value,Retention Cost,Retained,Remarks
0,Two small silver\nBowls,Decoration Pieces,"Mr. Abdul Sattar, Minister for Foreign\nA...",Gen. Musharrafarraf,1/8/2002,5000.0,0.0,Yes,Yes
1,One Pilot Pen with\nink,Pen,"Mr. Abdul Sattar, Minister for Foreign\nA...",Gen. Musharraf,1/8/2002,3500.0,0.0,Yes,Yes

In [46]:
df.Affiliation.unique()

array(['Gen. Musharrafarraf', 'Gen. Musharraf', 'Judiciary', 'Military',
       'Bureaucracy', 'Police', 'Media', 'PPP', nan, 'MMA', 'Gen Mus',
       'PMLN', 'PTI'], dtype=object)

In [47]:
df.Affiliation.replace({'Gen. Musharrafarraf':'General Musharraf'},inplace=True)
df.Affiliation.replace({'Gen. Musharraf':'General Musharraf'},inplace=True)
df.Affiliation.replace({'Gen Mus':'General Musharraf'},inplace=True)
df.rename(columns={'Name of Recipient': 'Name_of_Recipient'},inplace=True)

In [48]:
df.head(2)

,Detail of Gifts,Item Category,Name_of_Recipient,Affiliation,Date,Assessed Value,Retention Cost,Retained,Remarks
0,Two small silver\nBowls,Decoration Pieces,"Mr. Abdul Sattar, Minister for Foreign\nA...",General Musharraf,1/8/2002,5000.0,0.0,Yes,Yes
1,One Pilot Pen with\nink,Pen,"Mr. Abdul Sattar, Minister for Foreign\nA...",General Musharraf,1/8/2002,3500.0,0.0,Yes,Yes

In [49]:
df.Affiliation.unique()

array(['General Musharraf', 'Judiciary', 'Military', 'Bureaucracy',
       'Police', 'Media', 'PPP', nan, 'MMA', 'PMLN', 'PTI'], dtype=object)

In [51]:
df.Affiliation.value_counts()

General Musharraf    1157
Military              734
Bureaucracy           299
PTI                   261
PMLN                  256
PPP                   249
Media                 121
Police                119
Judiciary               9
MMA                     2
Name: Affiliation, dtype: int64

In [52]:
df_aff = df.Affiliation.value_counts()
df_aff

General Musharraf    1157
Military              734
Bureaucracy           299
PTI                   261
PMLN                  256
PPP                   249
Media                 121
Police                119
Judiciary               9
MMA                     2
Name: Affiliation, dtype: int64

In [54]:
df_ret = df[df.Retained == 'Yes'].groupby('Affiliation').Affiliation.count().sort_values(ascending=False)
df_ret = pd.DataFrame(df_ret)
df_ret.rename(columns={'Affiliation':'Retaintion'},inplace=True)
df_ret

                   Retaintion
Affiliation
General Musharraf        1086
Military                  694
Bureaucracy               257
PPP                       242
PMLN                      199
PTI                       177
Media                     119
Police                    114
Judiciary                   6
MMA                         2

In [117]:
plt.bar(df_ret.index, df_ret['Retaintion'])
plt.xlabel('Affiliation')
plt.ylabel('Retaintion')
plt.title('Retaintion by Each Official')
plt.show()

In [63]:
data = pd.concat([df_aff,df_ret], axis=1, join='inner')
data

                   Affiliation  Retaintion
General Musharraf         1157        1086
Military                   734         694
Bureaucracy                299         257
PTI                        261         177
PMLN                       256         199
PPP                        249         242
Media                      121         119
Police                     119         114
Judiciary                    9           6
MMA                          2           2

In [81]:
bar_width = 0.35
# Create the barplot
r1 = np.arange(len(data.index))
r2 = [x + bar_width for x in r1]
plt.bar(r1, data.Affiliation, color='green', width=bar_width, edgecolor='white', label='Recieved')
plt.bar(r2, data.Retaintion, color='orange', width=bar_width, edgecolor='white', label='Retained')

# Add xticks and labels
plt.xticks([r + bar_width for r in range(len(data.index))], data.index)
plt.title('Comparison of Recieved and retained GIFTS by every rulling elite!')

# Add a legend
plt.legend()
plt.xticks(rotation=75)
# Show the plot
plt.show()

In [119]:

import seaborn as sns
df.loc[df['Name_of_Recipient'].str.contains('Aziz', regex=True) & df['Name_of_Recipient'].str.contains
            ('Shaukat', regex=True), 'Name_of_Recipient'] = 'Shaukat Aziz PM'
df.loc[df['Name_of_Recipient'].str.contains('Maryum', regex=True) & df['Name_of_Recipient'].str.contains
            ('Nawaz', regex=True), 'Name_of_Recipient'] = 'Shaukat Aziz PM'
Top_official_data = pd.DataFrame(df.groupby('Name_of_Recipient').Name_of_Recipient.count().sort_values(ascending=False))
# sns.set_style('whitegrid')
plt.figure(figsize=(10, 6))

sns.barplot(x=Top_official_data.head(9).index, y=Top_official_data.head(9).values.reshape(9))
# Top_official_data.head(9).values.reshape(9)
plt.xticks(rotation=75)
plt.subplots_adjust(bottom=0.35)
plt.show()

In [118]:
df.sort_values(by='Assessed Value',ascending=False).head(8)[['Name_of_Recipient','Assessed Value']]

                                      Name_of_Recipient  Assessed Value
4114  Mian  Muhammad  Shehbaz  Sharif,\nPrime Minist...     140000000.0
2207  Mr.  Asif  Ali  Zardari,\nPresident  of\nPakistan     107828705.0
3600        Prime  Minister  of\nPakistan,  Imran\nKhan     100920000.0
3463  Ms. Sameena  Shahid,\nwife  of  Mr.  Shahid\nK...      99984000.0
3249  Begum  Prime  Minister\nof Pakistan, Wife of M...      54325000.0
3496          Khawaja  Muhammad\nAsif, Foreign Minister      44400000.0
3248  Mr. Muhammad  Nawaz\nSharif,  Prime  Minister\...      38117859.0
2208   Mr  Asif  Ali  Zardari,\nPresident  of\nPakistan      27339370.0